

<%- include("partials/header") %>

 

<div class="home_page_full_body">


<center style="margin-bottom: 20px;">
<h1>WELCOME TO HOME PAGE</h1>
	<button style="background-color:orange; border:1px solid white; padding: 5px 10px;border-radius:15px;">
	<a href="/products">view products</a>
	</button>
	<button style="background-color:orange; border:1px solid white; padding: 5px 10px;border-radius:15px;">
<a href="/changepassword">change pwd</a>
</button>
	</center>
<div class="container">
	<div class="row">
	<div class="col-lg-4 col-sm-6 col-md-6 home_image_head">
		<a href="products/cloths">
		<img class="home_image"src="/cap.jpg" alt="Flowers in Chania">
		<div class="home_image_body">
			<h1 class="home_image_heading">cloths</h1>
			<p class="home_image_text">Try our Cloths</p>
		</div>
		</a>
		</div>
		<div class="col-lg-4 col-sm-6 col-md-6 home_image_head">
		<a href="products/shoes">
		<img class="home_image"src="/cap.jpg" alt="Flowers in Chania">
		<div class="home_image_body">
			<h1 class="home_image_heading">shoes</h1>
			<p class="home_image_text">Try our Products</p>
		</div>
		</a>
		</div>
		<div class="col-lg-4 col-sm-6 col-md-6 home_image_head">
		<a href="products/electronics">
		<img class="home_image"src="/cap.jpg" alt="Flowers in Chania">
		<div class="home_image_body">
			<h1 class="home_image_heading">electronics</h1>
			<p class="home_image_text">Try our Products</p>
		</div>
			</a>
		</div>
		<div class="col-lg-4 col-sm-6 col-md-6 home_image_head">
		<a href="products/watches">
			<img class="home_image"src="/cap.jpg" alt="Flowers in Chania">
		<div class="home_image_body">
			<h1 class="home_image_heading">watches</h1>
			<p class="home_image_text">Try our products</p>
		</div>
			</a>
		</div>
		<div class="col-lg-4 col-sm-6 col-md-6 home_image_head">
		<a href="products/books">
			<img class="home_image"src="/cap.jpg" alt="Flowers in Chania">
		<div class="home_image_body">
			<h1 class="home_image_heading">books</h1>
			<p class="home_image_text">Try our products</p>
		</div>
			</a>
		</div>
		<div class="col-lg-4 col-sm-6 col-md-6 home_image_head">
		<a href="products">
			<img class="home_image"src="/cap.jpg" alt="Flowers in Chania">
		<div class="home_image_body">
			<h1 class="home_image_heading">view more</h1>
			<p class="home_image_text">Try our products</p>
		</div>
			</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<img class="home_image"src="/cap.jpg" alt="Flowers in Chania">
		</div>
		<div class="col-sm-4">
			<h1>
				summer sale
			</h1>
		</div>
	</div><br>
	<div class="row">
		<div class="col-sm-4">
			
			<h1>
				winter sale
			</h1>
		</div>
		<div class="col-sm-8">
			<img class="home_image"src="/cap.jpg" alt="Flowers in Chania">
		</div>
	</div>
	
</div>	
	
	
	
</div>



<%- include("partials/footer") %>